{%extends 'blog/base.html' %}

{%block content%}

<section id="About ">
  <div class="container-fluid">
    <section class="hi shadow my-5"">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <h1>Hi <br>Im Saurav</h1>
          <p>Backend Web Developer (Django) , Born in kerala <br> Living in kochi , cinephile under the hood <br> 2 years of experience <br> <span style="font-weight:bold;">Now available for you</span> <br>Checkout my blog up on the nav bar </p>
        </div>
        <div class="col-lg-6 col-sm-12">
          <img src="https://pbs.twimg.com/profile_images/1313744920067280896/GppS2q0A_400x400.jpg" alt="pfp" id="pfp">
        </div>
      </div>
    </section>

  </div>
</section>

<section class="Work" >
  <div class="container-fluid Work ">

    <section class="workexpcarousel shadow my-5" >
      <div id="workcarousel" class="carousel slide" data-ride="carousel" data-interval="3000" data-pause:"hover">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div style="display: flex;">
              <!-- Left content -->
              <div style="flex: 1;">
                <h2 class="d-flex">UI UX intern</h2>
                <p class="d-flex aboutp" style="padding-left:0">Designed various screens for web and mobile . <br> configured dialogflow module</p>
                <h1 class="d-flex" style="padding : 0;margin-left: 0; font-size:4em;">Matchmde</h1>
              </div>
              <!-- Right content -->
              <div style="flex: 1;">
                <h1 style="font-size:10rem;color : white ; text-align:Left">2019</h1>
                <p class="aboutp">Dec 2019 - May 2020</p>
              </div>
            </div>
          </div>

          <div class="carousel-item">
            <div style="display: flex;">
              <!-- Left content -->
              <div style="flex: 1;">
                <h2 class="d-flex">Freelance UI UX designer</h2>
                <p class="d-flex aboutp" style="padding-left:0">Designed various screens for web and mobile . <br> </p>
                <h1 class="d-flex " style="padding : 0;margin-left: 0; font-size:4em;">Dimensions Cybertech</h1>
              </div>
              <!-- Right content -->
              <div style="flex: 1;">
                <h1 style="font-size:10rem;color : white ; text-align:Left">2020</h1>
                <p class="aboutp">May 2020 - July 2020</p>
              </div>
            </div>
          </div>

          <div class="carousel-item ">
            <div style="display: flex;">
              <!-- Left content -->
              <div style="flex: 1;">
                <h2 class="d-flex">Waiting for you to hire me</h2>
                <p class="d-flex aboutp" style="padding-left:0">I currently work on backend systems <br>Hire me and i will not dissapoint</p>
                <h1 class="d-flex" style="padding : 0;margin-left: 0; font-size:4em;"></h1>
              </div>
              <!-- Right content -->
              <div style="flex: 1;">
                <h1 style="font-size:10rem;color : white ; text-align:Left">Now</h1>
                <p class="aboutp">Dec 2019 - May 2020</p>
              </div>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <img class="d-block w-100" src="..." alt="Third slide">
        </div>
      </div>
  </div>
</section>

</div>

</section>

{%endblock%}
